
<p class="content-title-word">Thông tin mới</p>
<div class="card-message-small-big">
    <div class="w-100 position-relative" *ngFor="let newifo of newinfo" >
        <article class="card-message-small-big2">
            <a [href]="'n/newinfo/'+newifo.id" >
                <h3 class="content-info-title-big">{{newifo.title}}</h3>
                <img class="content-info-img"  [src]="newifo?.imagepath">
                <p class="content-info-ct-big">{{newifo.content}}</p>
                <p class="content-info-user-big"><img class="rounded-circle mr-2" width="30px" height="30px" [src]="newifo.imageuser">{{newifo.user}}<span> - {{newifo.time}}</span></p>

            </a>
        </article>
    </div>
    
</div>