<div class="container">
    <div class="row">
        <div class="col-12 p-3">
            <p class="font-weight-bold d-inline">#TinhteFact (beta)</p>
            <button class="ml-5 text-light font-weight-bold  d-inline" style="background-color:#f25529;padding: 3px;border-color: #f25529; border-radius:10px;font-size: 15px; width: 150px;height: 40px;">Xem nhiều hơn</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12" style="background-color: white;box-shadow: 0 1px 4px 0 rgba(102,98,98,0.4); border-radius: 10px;height: 300px;">
            <div class="d-flex flex-row mt-5"  style="overflow-x: scroll;overflow-y: hidden;">
                <a class="card-slide-story mr-2" style="background-image: url('./assets/img/4733057_14.jpg');background-repeat: no-repeat;background-size: cover;">
                    <div class="d-flex align-items-start">
                        <div class="" style="border-radius: 100px;background-size: cover; font-size: 20px;color: hsl(184, 83%, 57%);font-weight: bold;border: 3px solid hsl(184, 83%, 57%);padding: 0 7px;"><i class="fas fa-plus"></i></div>
                    </div>
                    <div class="d-flex align-items-end" style="margin-top: 110px;">
                        <span class="text-light " style="background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)) ;width: 100px;">Tạo Fact Mới</span>
                    </div>

                </a>
                <a class="card-slide-story mr-2" style="background-image: url('./assets/img/4733057_14.jpg');background-repeat: no-repeat;background-size: cover;">
                    <div class="d-flex align-items-start">
                        <div class="rounded-circle p-3 " style="background-image: url('./assets/img/4712030_logo5.png');background-size: cover; font-size: 20px;color: hsl(184, 83%, 57%);font-weight: bold;border: 3px solid hsl(184, 83%, 57%)"></div>
                    </div>
                    <div class="d-flex align-items-end" style="margin-top: 110px;">
                        <span class="text-light p-1" style="background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));">ádfsdfdsàds</span>
                    </div>

                </a>
                <a class="card-slide-story mr-2" style="background-image: url('./assets/img/4733057_14.jpg');background-repeat: no-repeat;background-size: cover;">
                    <div class="d-flex align-items-start">
                        <div class="rounded-circle p-3 " style="background-image: url('./assets/img/4712030_logo5.png');background-size: cover; font-size: 20px;color: hsl(184, 83%, 57%);font-weight: bold;border: 3px solid hsl(184, 83%, 57%)"></div>
                    </div>
                    <div class="d-flex align-items-end" style="margin-top: 110px;">
                        <span class="text-light p-1" style="background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));">ádfsdfdsàds</span>
                    </div>

                </a>
                <a class="card-slide-story mr-2" style="background-image: url('./assets/img/4733057_14.jpg');background-repeat: no-repeat;background-size: cover;">
                    <div class="d-flex align-items-start">
                        <div class="rounded-circle p-3 " style="background-image: url('./assets/img/4712030_logo5.png');background-size: cover; font-size: 20px;color: hsl(184, 83%, 57%);font-weight: bold;border: 3px solid hsl(184, 83%, 57%)"></div>
                    </div>
                    <div class="d-flex align-items-end" style="margin-top: 110px;">
                        <span class="text-light p-1" style="background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));">ádfsdfdsàds</span>
                    </div>

                </a>
                <a class="card-slide-story mr-2" style="background-image: url('./assets/img/4733057_14.jpg');background-repeat: no-repeat;background-size: cover;">
                    <div class="d-flex align-items-start">
                        <div class="rounded-circle p-3 " style="background-image: url('./assets/img/4712030_logo5.png');background-size: cover; font-size: 20px;color: hsl(184, 83%, 57%);font-weight: bold;border: 3px solid hsl(184, 83%, 57%)"></div>
                    </div>
                    <div class="d-flex align-items-end" style="margin-top: 110px;">
                        <span class="text-light p-1" style="background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));">ádfsdfdsàds</span>
                    </div>

                </a>
                <a class="card-slide-story mr-2" style="background-image: url('./assets/img/4733057_14.jpg');background-repeat: no-repeat;background-size: cover;">
                    <div class="d-flex align-items-start">
                        <div class="rounded-circle p-3 " style="background-image: url('./assets/img/4712030_logo5.png');background-size: cover; font-size: 20px;color: hsl(184, 83%, 57%);font-weight: bold;border: 3px solid hsl(184, 83%, 57%)"></div>
                    </div>
                    <div class="d-flex align-items-end" style="margin-top: 110px;">
                        <span class="text-light p-1" style="background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));">ádfsdfdsàds</span>
                    </div>

                </a>
                <a class="card-slide-story mr-2" style="background-image: url('./assets/img/4733057_14.jpg');background-repeat: no-repeat;background-size: cover;">
                    <div class="d-flex align-items-start">
                        <div class="rounded-circle p-3 " style="background-image: url('./assets/img/4712030_logo5.png');background-size: cover; font-size: 20px;color: hsl(184, 83%, 57%);font-weight: bold;border: 3px solid hsl(184, 83%, 57%)"></div>
                    </div>
                    <div class="d-flex align-items-end" style="margin-top: 110px;">
                        <span class="text-light p-1" style="background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));">ádfsdfdsàds</span>
                    </div>

                </a>
                <a class="card-slide-story mr-2" style="background-image: url('./assets/img/4733057_14.jpg');background-repeat: no-repeat;background-size: cover;">
                    <div class="d-flex align-items-start">
                        <div class="rounded-circle p-3 " style="background-image: url('./assets/img/4712030_logo5.png');background-size: cover; font-size: 20px;color: hsl(184, 83%, 57%);font-weight: bold;border: 3px solid hsl(184, 83%, 57%)"></div>
                    </div>
                    <div class="d-flex align-items-end" style="margin-top: 110px;">
                        <span class="text-light p-1" style="background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));">ádfsdfdsàds</span>
                    </div>

                </a>
                <a class="card-slide-story mr-2" style="background-image: url('./assets/img/4733057_14.jpg');background-repeat: no-repeat;background-size: cover;">
                    <div class="d-flex align-items-start">
                        <div class="rounded-circle p-3 " style="background-image: url('./assets/img/4712030_logo5.png');background-size: cover; font-size: 20px;color: hsl(184, 83%, 57%);font-weight: bold;border: 3px solid hsl(184, 83%, 57%)"></div>
                    </div>
                    <div class="d-flex align-items-end" style="margin-top: 110px;">
                        <span class="text-light p-1" style="background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));">ádfsdfdsàds</span>
                    </div>

                </a>
                <a class="card-slide-story mr-2" style="background-image: url('./assets/img/4733057_14.jpg');background-repeat: no-repeat;background-size: cover;">
                    <div class="d-flex align-items-start">
                        <div class="rounded-circle p-3 " style="background-image: url('./assets/img/4712030_logo5.png');background-size: cover; font-size: 20px;color: hsl(184, 83%, 57%);font-weight: bold;border: 3px solid hsl(184, 83%, 57%)"></div>
                    </div>
                    <div class="d-flex align-items-end" style="margin-top: 110px;">
                        <span class="text-light p-1" style="background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));">ádfsdfdsàds</span>
                    </div>

                </a>
                <a class="card-slide-story mr-2" style="background-image: url('./assets/img/4733057_14.jpg');background-repeat: no-repeat;background-size: cover;">
                    <div class="d-flex align-items-start">
                        <div class="rounded-circle p-3 " style="background-image: url('./assets/img/4712030_logo5.png');background-size: cover; font-size: 20px;color: hsl(184, 83%, 57%);font-weight: bold;border: 3px solid hsl(184, 83%, 57%)"></div>
                    </div>
                    <div class="d-flex align-items-end" style="margin-top: 110px;">
                        <span class="text-light p-1" style="background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));">ádfsdfdsàds</span>
                    </div>

                </a>

                <a class="card-slide-story mr-2" style="background-image: url('./assets/img/4733057_14.jpg');background-repeat: no-repeat;background-size: cover;">
                    <div class="d-flex align-items-start">
                        <div class="rounded-circle p-3 " style="background-image: url('./assets/img/4712030_logo5.png');background-size: cover; font-size: 20px;color: hsl(184, 83%, 57%);font-weight: bold;border: 3px solid hsl(184, 83%, 57%)"></div>
                    </div>
                    <div class="d-flex align-items-end" style="margin-top: 110px;">
                        <span class="text-light p-1" style="background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));">ádfsdfdsàds</span>
                    </div>

                </a>
                <a class="card-slide-story mr-2" style="background-image: url('./assets/img/4733057_14.jpg');background-repeat: no-repeat;background-size: cover;">
                    <div class="d-flex align-items-start">
                        <div class="rounded-circle p-3 " style="background-image: url('./assets/img/4712030_logo5.png');background-size: cover; font-size: 20px;color: hsl(184, 83%, 57%);font-weight: bold;border: 3px solid hsl(184, 83%, 57%)"></div>
                    </div>
                    <div class="d-flex align-items-end" style="margin-top: 110px;">
                        <span class="text-light p-1" style="background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));">ádfsdfdsàds</span>
                    </div>

                </a>
                <a class="card-slide-story mr-2" style="background-image: url('./assets/img/4733057_14.jpg');background-repeat: no-repeat;background-size: cover;">
                    <div class="d-flex align-items-start">
                        <div class="rounded-circle p-3 " style="background-image: url('./assets/img/4712030_logo5.png');background-size: cover; font-size: 20px;color: hsl(184, 83%, 57%);font-weight: bold;border: 3px solid hsl(184, 83%, 57%)"></div>
                    </div>
                    <div class="d-flex align-items-end" style="margin-top: 110px;">
                        <span class="text-light p-1" style="background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));">ádfsdfdsàds</span>
                    </div>

                </a>
                <a class="card-slide-story mr-2" style="background-image: url('./assets/img/4733057_14.jpg');background-repeat: no-repeat;background-size: cover;">
                    <div class="d-flex align-items-start">
                        <div class="rounded-circle p-3 " style="background-image: url('./assets/img/4712030_logo5.png');background-size: cover; font-size: 20px;color: hsl(184, 83%, 57%);font-weight: bold;border: 3px solid hsl(184, 83%, 57%)"></div>
                    </div>
                    <div class="d-flex align-items-end" style="margin-top: 110px;">
                        <span class="text-light p-1" style="background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));">ádfsdfdsàds</span>
                    </div>

                </a>
                <a class="card-slide-story mr-2" style="background-image: url('./assets/img/4733057_14.jpg');background-repeat: no-repeat;background-size: cover;">
                    <div class="d-flex align-items-start">
                        <div class="rounded-circle p-3 " style="background-image: url('./assets/img/4712030_logo5.png');background-size: cover; font-size: 20px;color: hsl(184, 83%, 57%);font-weight: bold;border: 3px solid hsl(184, 83%, 57%)"></div>
                    </div>
                    <div class="d-flex align-items-end" style="margin-top: 110px;">
                        <span class="text-light p-1" style="background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));">ádfsdfdsàds</span>
                    </div>

                </a>
                <a class="card-slide-story mr-2" style="background-image: url('./assets/img/4733057_14.jpg');background-repeat: no-repeat;background-size: cover;">
                    <div class="d-flex align-items-start">
                        <div class="rounded-circle p-3 " style="background-image: url('./assets/img/4712030_logo5.png');background-size: cover; font-size: 20px;color: hsl(184, 83%, 57%);font-weight: bold;border: 3px solid hsl(184, 83%, 57%)"></div>
                    </div>
                    <div class="d-flex align-items-end" style="margin-top: 110px;">
                        <span class="text-light p-1" style="background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));">ádfsdfdsàds</span>
                    </div>

                </a>
                <a class="card-slide-story mr-2" style="background-image: url('./assets/img/4733057_14.jpg');background-repeat: no-repeat;background-size: cover;">
                    <div class="d-flex align-items-start">
                        <div class="rounded-circle p-3 " style="background-image: url('./assets/img/4712030_logo5.png');background-size: cover; font-size: 20px;color: hsl(184, 83%, 57%);font-weight: bold;border: 3px solid hsl(184, 83%, 57%)"></div>
                    </div>
                    <div class="d-flex align-items-end" style="margin-top: 110px;">
                        <span class="text-light p-1" style="background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));">ádfsdfdsàds</span>
                    </div>

                </a>
                <div class="card-slide-story-loading">
                    <button class="rounded-circle text-center mt-5 p-2">Tải<br>Thêm</button>
                </div>
            </div>
        </div>
    </div>
</div>