 <!-- start footer -->
 <div class="container-fluid" style="background-color: hsl(215, 31%, 12%);background-size: contain;">
    <div class="container">
        <div class="row">
            <ul class="d-flex flex-row flex-nowrap footer-menu text-light p-3">
                <li><a>TIN MỚI</a></li>
                <li><a>SẢN PHẨM CÔNG NGHỆ MỚI</a></li>
                <li><a>KHUYẾN MÃI</a></li>
                <li><a>SỰ KIỆN</a></li>
                <li><a>VIDEO</a></li>
            </ul>
        </div>

    </div>
    <div class="row" style="background-color: hsl(215, 34%, 15%)">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-2 ">
                    <ul class="d-flex flex-column  footer-menu-child   text-light mt-5">
                        <li class="text-light font-weight-bold mb-2 footer-menu-child-li">Tinh Tế</li>
                        <li><a>Nội quy diễn đàn</a></li>
                        <li><a>Thỏa thuận sử dụng dịch vụ</a></li>
                        <li><a>Góp ý</a></li>
                        <li><a>Hỗ trợ, hướng dẫn</a></li>
                        <li><a>Liên hệ quảng cáo</a></li>
                        <li><a>Tinh Tế RSS</a></li>
                    </ul>
                </div>
                <div class="col-12 col-sm-6 col-md-2 ">
                    <ul class="d-flex flex-column footer-menu-child  text-light mt-5">
                        <li class="text-light font-weight-bold mb-2 footer-menu-child-li">Diễn đàn</li>
                        <li><a>Điện thoại</a></li>
                        <li><a>Máy tính</a></li>
                        <li><a>Camera</a></li>
                        <li><a>Xe</a></li>
                        <li><a>Khoa học công nghệ</a></li>
                    </ul>
                </div>
                <div class="col-12 col-sm-6 col-md-3 ">
                    <ul class="d-flex flex-column footer-menu-child  text-light mt-5">
                        <li class="text-light font-weight-bold mb-2 footer-menu-child-li">Nhật Tảo</li>
                        <li><a>Mua bán điện thoại</a></li>
                        <li><a>Mua bán máy tính</a></li>
                        <li><a>Mua bán máy tính bản</a></li>
                        <li><a>Mua bán camera</a></li>
                        <li><a>Mua bán đồng hồ thông minh</a></li>
                        <li><a>Mua bán xe</a></li>
                        <li><a>Mua bán đồng hồ thông minh</a></li>
                        <li><a>Mua bán xe</a></li>
                    </ul>
                </div>
                <div class="col-12 col-sm-6 col-md-2 ">
                    <ul class="d-flex flex-column footer-menu-child  text-light mt-5">
                        <li class="text-light font-weight-bold mb-2 footer-menu-child-li">Liên Kết</li>
                        <li><a>Nội quy </a></li>
                        <li><a>Thỏa thuận </a></li>
                        <li><a>Góp ý</a></li>
                        <li><a>Hỗ trợ, </a></li>
                        <li><a>Liên hệ </a></li>
                        <li><a>Tinh Tế </a></li>
                    </ul>
                </div>
                <div class="col-12 col-sm-6 col-md-2">
                    <ul class="d-flex flex-column footer-menu-child  text-light mt-5">
                        <li class="text-light font-weight-bold mb-2 footer-menu-child-li">Theo dõi chúng tôi</li>
                        <li><a><i class="fab fa-facebook-square"></i> Facebook</a></li>
                        <li><a><i class="fab fa-youtube"></i> Youtube</a></li>
                        <li><a><i class="fab fa-flickr"></i> Flickr</a></li>
                        <li><a><i class="fab fa-twitter"></i> Twitter</a></li>
                        <li><a><i class="fab fa-google-plus"></i> Google</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

</div>

<!-- end footer -->