<div class="container-xl rounded" style="background-color: hsl(215, 34%, 15%);margin-top: 50px;margin-bottom: 50px;">
    <div class="col-12">
            <p class="font-weight-bold mt-1 ml-2" style="color: hsl(180, 100%, 55%);">#Tag đang HOT</p>
            <p class="text-secondary ml-2">anh em nhớ follow để nhận được thông tin mới nhất nhé</p>
        <div class=" row overflow-auto d-flex flex-row flex-lg-wrap">
            <div class="card-system ml-3 rounded mb-3" style="background-color: black;"> 
                <img  src="./assets/img/4454624_og.png" style="width: 250px;background-size: contain;border-top-left-radius: 20px; border-top-right-radius: 20px;">
                <p class="text-light font-weight-bold ml-5">#Android</p>
            </div>
            <div class="card-system ml-3 rounded mb-3" style="background-color: black;"> 
                <img  src="./assets/img/4454624_og.png" style="width: 250px;background-size: contain;border-top-left-radius: 20px; border-top-right-radius: 20px;">
                <p class="text-light font-weight-bold ml-5">#Android</p>
            </div>
            <div class="card-system ml-3 rounded mb-3" style="background-color: black;"> 
                <img  src="./assets/img/4454624_og.png" style="width: 250px;background-size: contain;border-top-left-radius: 20px; border-top-right-radius: 20px;">
                <p class="text-light font-weight-bold ml-5">#Android</p>
            </div>
            <div class="card-system ml-3 rounded mb-3" style="background-color: black;"> 
                <img  src="./assets/img/4454624_og.png" style="width: 250px;background-size: contain;border-top-left-radius: 20px; border-top-right-radius: 20px;">
                <p class="text-light font-weight-bold ml-5">#Android</p>
            </div>
            <div class="card-system ml-3 rounded mb-3" style="background-color: black;"> 
                <img  src="./assets/img/4454624_og.png" style="width: 250px;background-size: contain;border-top-left-radius: 20px; border-top-right-radius: 20px;">
                <p class="text-light font-weight-bold ml-5">#Android</p>
            </div>
            <div class="card-system ml-3 rounded mb-3" style="background-color: black;"> 
                <img  src="./assets/img/4454624_og.png" style="width: 250px;background-size: contain;border-top-left-radius: 20px; border-top-right-radius: 20px;">
                <p class="text-light font-weight-bold ml-5">#Android</p>
            </div>
            <div class="card-system ml-3 rounded mb-3" style="background-color: black;"> 
                <img  src="./assets/img/4454624_og.png" style="width: 250px;background-size: contain;border-top-left-radius: 20px; border-top-right-radius: 20px;">
                <p class="text-light font-weight-bold ml-5">#Android</p>
            </div>
            <div class="card-system ml-3 rounded mb-3" style="background-color: black;"> 
                <img  src="./assets/img/4454624_og.png" style="width: 250px;background-size: contain;border-top-left-radius: 20px; border-top-right-radius: 20px;">
                <p class="text-light font-weight-bold ml-5">#Android</p>
            </div>
            
        </div>
        <br><br>
    </div>  
    
</div>