<div class="row rounded-bottom" style="background-color:white;border-top:8px solid black;background-size: contain;">
    <div class="col-12">
       <p class="font-weight-bold p-3">Thảo luận trong ngày </p>
       <hr>
       <div class="">
            <img class="rounded" style="background-size: contain; width: 100%" src="./assets/img/4926628_Cover_USSTheodoreRoosevelt.jpg">
            <p class="font-weight-bold mt-3">Những thông tin thú vị về tàu sân bay USS Theodore Roosevelt (CVN-71) đang ghé thăm cảng Đà Nẵng</p>
        </div>
    </div>
</div>