
    <!-- start header -->
    <div class="container-fluid p-3" style="background-color: hsl(215, 34%, 15%)">
        <div class="container">
            <div class="row text-light d-flex">
                <div class="col-6 col-md-2 col-lg-1 order-1 ">
                    <svg class="mt-md-5 mt-lg-1" width="48" height="30" viewBox="0 0 516 466" xmlns="http://www.w3.org/2000/svg">
                        <title>Tinh tế</title>
                        <defs>
                            <linearGradient x1="4938%" y1="51383%" x2="26850%" y2="51383%" id="a">
                                <stop stop-color="#FFF" offset="0%"></stop>
                                <stop stop-color="#47EEE2" offset="100%"></stop>
                            </linearGradient>
                            <linearGradient x1="20923%" y1="27047%" x2="32165%" y2="27047%" id="b">
                                <stop stop-color="#FFF" offset="0%"></stop>
                                <stop stop-color="#47EEE2" offset="100%"></stop>
                            </linearGradient>
                        </defs>
                        <g fill-rule="nonzero" fill="none">
                            <path class="logo1" d="M515.8 139.49c-.9 43-13.37 83.17-32 121.48-32.89 67.6-77.76 125.58-139.65 169.26-23.83 16.82-49.43 30.18-78.84 34.49-47.25 6.92-80.33-19.44-85.15-67.07-4.34-43 5.79-83.35 22.43-122.23 33.57-78.45 83.28-144.33 154.44-192.71 21.55-14.65 44.89-25.58 70.95-30.08 44-7.62 76.88 14.61 85.29 58.38 1.79 9.35 3.24 18.83 2.53 28.48z" fill="#FFF"></path>
                            <path class="logo2" d="M182.03 456.57c-29.4-8.19-54.86-23.85-78.34-42.67-46.82-37.5-82.07-83.29-98.21-142-6-21.93-7.79-44.21-1.71-66.56 9.64-35.43 38.45-58.17 75-60.16 31.5-1.73 60.66 6.21 88.67 19.67 16.32 7.84 31.4 17.68 46.11 28.22 6.09 4.37 7.29 7.61 3.06 14.48-22.49 36.4-39.81 75.1-49.33 117-6.38 28.11-9.1 56.37-3.53 85a109.67 109.67 0 0 0 19.92 45.35l-1.64 1.67z" fill="url(#a)"></path>
                            <path class="logo3" d="M272.27 57.12c-.032 30.826-24.885 55.875-55.71 56.15-30.825.273-56.12-24.33-56.7-55.15-.2-31.55 24.39-56.81 55.63-57.14a56.45 56.45 0 0 1 56.78 56.14z" fill="url(#b)"></path>
                        </g>
                    </svg>
                </div>
                <div class="col-12 col-md-8 col-lg-9 order-3 order-md-2">
                    <div class="row">
                        <div class="col-12  col-lg-5 text-left ">
                            <ul class="menu-name d-flex">
                                <li class="d-md-none flex-fill"><a href="#"><span>My Feed</span></a></li>
                                <li class="flex-fill"><a href="#">Diễn Đàn</a></li>
                                <li class="flex-fill"><a href="#">Cộng đồng</a></li>
                                <li class="flex-fill"><a href="#">Nhật Tảo</a></li>
                            </ul>
                        </div>
                        <div class=" col-md-12 col-lg-7 d-none d-md-block text-right">
                            <input class="rounded-pill input-search1 float-right" type="text" placeholder="   Tìm bài viết, sản phẩm, nhóm..." name="">
                            <i class="fas fa-search icon-search1 "></i>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-2   col-lg-2 font-weight-bold menu-name-dn order-2 order-md-3 ">
                    <p class="mt-md-5 mt-lg-1 text-right text-md-left" style="margin-top:10px;margin-left: 25px;">Đăng Nhập</p>
                </div>
            </div>
        </div>
    </div>
    <button class="d-block d-md-none w-100 button-down-menu">
        <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg">
            <path style="fill: white;" d="M11.378 16.735L4.258 9.4a.925.925 0 0 1 0-1.28l.83-.856a.861.861 0 0 1 1.242-.001L12 13.076l5.67-5.812a.861.861 0 0 1 1.242.001l.83.856a.925.925 0 0 1 0 1.28l-7.12 7.334a.861.861 0 0 1-1.244 0z"></path>
        </svg>
    </button>
    <div class="container-fluid d-none d-md-block " style="background-color: hsl(214, 32%, 12%);">
        <div class="container">
            <div class="row">
                <ol class="menu-name-child">
                    <li>
                        <a><i class="fas fa-star"></i> Android</a>
                    </li>
                    <li>
                        <a><i class="fas fa-star"></i> iOS</a>
                    </li>
                    <li>
                        <a><i class="fas fa-star"></i> Windows</a>
                    </li>
                    <li>
                        <a><i class="fas fa-star"></i> macOS</a>
                    </li>
                </ol>
                <ol class="menu-name-info d-none d-xl-block ">
                    <li>
                        <a><i class="fas fa-calendar-check"></i> Workshop Online 4 buổi: Chuyên đề Camera Galaxy S20 Ultra, Livestream mỗi tuần </a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <!-- end header -->
    <br class="d-none d-sm-block">
    <br class="d-none d-sm-block">
    <br class="d-none d-sm-block">
    <br class="d-none d-sm-block">
    <br class="d-none d-sm-block">
    <br class="d-none d-sm-block">
