<div class="rounded" style="width: 95%;background-color: hsl(214, 23%, 18%); ">
    <div style="background-color: hsl(0, 0%, 10%);border-top-left-radius: 25px; border-top-right-radius: 25px;" >
        <p style="padding: 15px;color: hsl(180, 100%, 55%);font-weight: bold;font-size: 20px; margin-left: 10px;">Bài Nổi bật</p>
    </div>
    <div class="MagicScroll " data-options="loop: off;">
        <div class="rounded" style="background-color: hsl(215, 31%, 12%);width: 200px;height: 250px;">
            <img src="./assets/img/4920137_cover_home_galaxy_z_flip_drama.jpg.jpg" width="20px" height="20px" style="border-top-left-radius: 23px;border-top-right-radius: 23px;">
            <br><br>
            <p class="mt-2 text-light font-weight-bold ml-3 text-truncate">Tám chuyện: Vì sao mình thích Pokemon từ nhỏ tới giờ</p>
            <p class="content-info-user-big mt-3">Baroto<span> - 10 phút trước</span></p>
        </div>
        <div class="rounded" style="background-color: hsl(215, 31%, 12%);width: 200px;height: 250px;">
            <img src="./assets/img/4920137_cover_home_galaxy_z_flip_drama.jpg.jpg" width="20px" height="20px" style="border-top-left-radius: 23px;border-top-right-radius: 23px;">
            <br><br>
            <p class="mt-2 text-light font-weight-bold ml-3 text-truncate">Tám chuyện: Vì sao mình thích Pokemon từ nhỏ tới giờ</p>
            <p class="content-info-user-big mt-3">Baroto<span> - 10 phút trước</span></p>
        </div>
        <div class="rounded" style="background-color: hsl(215, 31%, 12%);width: 200px;height: 250px;">
            <img src="./assets/img/4920137_cover_home_galaxy_z_flip_drama.jpg.jpg" width="20px" height="20px" style="border-top-left-radius: 23px;border-top-right-radius: 23px;">
            <br><br>
            <p class="mt-2 text-light font-weight-bold ml-3 text-truncate">Tám chuyện: Vì sao mình thích Pokemon từ nhỏ tới giờ</p>
            <p class="content-info-user-big mt-3">Baroto<span> - 10 phút trước</span></p>
        </div>
        <div class="rounded" style="background-color: hsl(215, 31%, 12%);width: 200px;height: 250px;">
            <img src="./assets/img/4920137_cover_home_galaxy_z_flip_drama.jpg.jpg" width="20px" height="20px" style="border-top-left-radius: 23px;border-top-right-radius: 23px;">
            <br><br>
            <p class="mt-2 text-light font-weight-bold ml-3 text-truncate">Tám chuyện: Vì sao mình thích Pokemon từ nhỏ tới giờ</p>
            <p class="content-info-user-big mt-3">Baroto<span> - 10 phút trước</span></p>
        </div>
        <div class="rounded" style="background-color: hsl(215, 31%, 12%);width: 200px;height: 250px;">
            <img src="./assets/img/4920137_cover_home_galaxy_z_flip_drama.jpg.jpg" width="20px" height="20px" style="border-top-left-radius: 23px;border-top-right-radius: 23px;">
            <br><br>
            <p class="mt-2 text-light font-weight-bold ml-3 text-truncate">Tám chuyện: Vì sao mình thích Pokemon từ nhỏ tới giờ</p>
            <p class="content-info-user-big mt-3">Baroto<span> - 10 phút trước</span></p>
        </div>
        <div class="rounded" style="background-color: hsl(215, 31%, 12%);width: 200px;height: 250px;">
            <img src="./assets/img/4920137_cover_home_galaxy_z_flip_drama.jpg.jpg" width="20px" height="20px" style="border-top-left-radius: 23px;border-top-right-radius: 23px;">
            <br><br>
            <p class="mt-2 text-light font-weight-bold ml-3 text-truncate">Tám chuyện: Vì sao mình thích Pokemon từ nhỏ tới giờ</p>
            <p class="content-info-user-big mt-3">Baroto<span> - 10 phút trước</span></p>
        </div>
        <div class="rounded" style="background-color: hsl(215, 31%, 12%);width: 200px;height: 250px;">
            <img src="./assets/img/4920137_cover_home_galaxy_z_flip_drama.jpg.jpg" width="20px" height="20px" style="border-top-left-radius: 23px;border-top-right-radius: 23px;">
            <br><br>
            <p class="mt-2 text-light font-weight-bold ml-3 text-truncate">Tám chuyện: Vì sao mình thích Pokemon từ nhỏ tới giờ</p>
            <p class="content-info-user-big mt-3">Baroto<span> - 10 phút trước</span></p>
        </div>
        <div class="rounded" style="background-color: hsl(215, 31%, 12%);width: 200px;height: 250px;">
            <img src="./assets/img/4920137_cover_home_galaxy_z_flip_drama.jpg.jpg" width="20px" height="20px" style="border-top-left-radius: 23px;border-top-right-radius: 23px;">
            <br><br>
            <p class="mt-2 text-light font-weight-bold ml-3 text-truncate">Tám chuyện: Vì sao mình thích Pokemon từ nhỏ tới giờ</p>
            <p class="content-info-user-big mt-3">Baroto<span> - 10 phút trước</span></p>
        </div>
        <div class="rounded" style="background-color: hsl(215, 31%, 12%);width: 200px;height: 250px;">
            <img src="./assets/img/4920137_cover_home_galaxy_z_flip_drama.jpg.jpg" width="20px" height="20px" style="border-top-left-radius: 23px;border-top-right-radius: 23px;">
            <br><br>
            <p class="mt-2 text-light font-weight-bold ml-3 text-truncate">Tám chuyện: Vì sao mình thích Pokemon từ nhỏ tới giờ</p>
            <p class="content-info-user-big mt-3">Baroto<span> - 10 phút trước</span></p>
        </div>
        <div class="rounded" style="background-color: hsl(215, 31%, 12%);width: 200px;height: 250px;">
            <img src="./assets/img/4920137_cover_home_galaxy_z_flip_drama.jpg.jpg" width="20px" height="20px" style="border-top-left-radius: 23px;border-top-right-radius: 23px;">
            <br><br>
            <p class="mt-2 text-light font-weight-bold ml-3 text-truncate">Tám chuyện: Vì sao mình thích Pokemon từ nhỏ tới giờ</p>
            <p class="content-info-user-big mt-3">Baroto<span> - 10 phút trước</span></p>
        </div>
        <div class="rounded" style="background-color: hsl(215, 31%, 12%);width: 200px;height: 250px;">
            <img src="./assets/img/4920137_cover_home_galaxy_z_flip_drama.jpg.jpg" width="20px" height="20px" style="border-top-left-radius: 23px;border-top-right-radius: 23px;">
            <br><br>
            <p class="mt-2 text-light font-weight-bold ml-3 text-truncate">Tám chuyện: Vì sao mình thích Pokemon từ nhỏ tới giờ</p>
            <p class="content-info-user-big mt-3">Baroto<span> - 10 phút trước</span></p>
        </div>
        <div class="rounded" style="background-color: hsl(215, 31%, 12%);width: 200px;height: 250px;">
            <img src="./assets/img/4920137_cover_home_galaxy_z_flip_drama.jpg.jpg" width="20px" height="20px" style="border-top-left-radius: 23px;border-top-right-radius: 23px;">
            <br><br>
            <p class="mt-2 text-light font-weight-bold ml-3 text-truncate">Tám chuyện: Vì sao mình thích Pokemon từ nhỏ tới giờ</p>
            <p class="content-info-user-big mt-3">Baroto<span> - 10 phút trước</span></p>
        </div>
        <div class="rounded" style="background-color: hsl(215, 31%, 12%);width: 200px;height: 250px;">
            <img src="./assets/img/4920137_cover_home_galaxy_z_flip_drama.jpg.jpg" width="20px" height="20px" style="border-top-left-radius: 23px;border-top-right-radius: 23px;">
            <br><br>
            <p class="mt-2 text-light font-weight-bold ml-3 text-truncate">Tám chuyện: Vì sao mình thích Pokemon từ nhỏ tới giờ</p>
            <p class="content-info-user-big mt-3">Baroto<span> - 10 phút trước</span></p>
        </div>  
    </div>
    <div style="height: 50px;"></div>
</div>