<p class="content-title-word">Câu hỏi cần bạn giúp</p>
<div class="card-message-small">
    <a href="#">
        <p class="content-title-word">Tư vấn laptop 10triệu (cũ/mới)</p>
        <br>
        <div class="d-flex justify-content-start" style="padding-bottom: 50px;">
            <img class="rounded-circle ml-3 mr-3 " src="./assets/img/2495263.jpg" width="50px" height="50px" style="border: 2px solid hsl(188, 100%, 42%);">
            <div style="border-radius: 10px; background-color: #eff1f3; width: 80%;">
                <p class="font-weight-bold mt-2 ml-2" style="color: hsl(188, 100%, 42%)">Coca Escanor <span style="color: grey;font-size: 10px;">13 phút trước</span></p>
                <p class="text-dark p-2 mt-3">Nhờ anh em tư vấn giúp mình 1 chiếc laptop cũ tầm giá 10triệu với, mình chủ yếu luyện office + autoCad. Máy có thẩm mỹ một chút nhé. Cảm ơn anh em</p>
            </div>
        </div>
    </a>
</div>