<p>testrouting works!</p>
<h1>Test click event 1</h1>
<div class="container" style="background-color: aquamarine;">
    <button (click)="getHello()">Click Event</button>
    <p>{{clickMessage1}}-{{clicks}}</p>
</div>
<h1>Test click event 2</h1>
<div class="container" style="background-color: aquamarine;">
    <!-- <button (click)="onClickMe2($event)">No! .. Click me!</button> -->
    <p>{{clickMessage2}}</p>
</div>
<h1>Test event keyup 1</h1>
<div class="container" style="background-color: aquamarine;">
    <input (keyup)="onKey1($event)">
    <p>{{values1}}</p>
</div>
<h1>Test event keyup 2</h1>
<div class="container" style="background-color: aquamarine;">
    <input (keyup)="onKey2($event)">
    <p>{{values2}}</p>
</div>
<div class="container ">
    <div style="background-color: aquamarine;"> 
        <br>
        <div *ngFor="let ft1 of fruits1">
            {{ft1.tenfruit}}
        </div>
        <br>
        <input (keyup)="findFruit($event)"  class="rounded-pill input-search1" type="text" placeholder="   Tìm bài viết, sản phẩm, nhóm..." name="">
        <ul style="z-index: 1000;background-color: chartreuse;">
            <li *ngFor="let ft of fruits2">{{ft.tenfruit}}</li>
        </ul>
    </div>
    
                           
</div>
<hr>
<div class="container">
    <h1>demo form reactive</h1>
    <p>tâm đắc chưa kiểm duyệt (X) : form reactive cho phép chúng ta lưu lại các giá trị từ in pust đẩy vào file ts và dùng nó để kêu gọi phương thức post 1 cách thuận tiện thay vì phải khai báo phương thức như các freamwork khác </p>
    <h4>step1: khai báo reactiveformmodule vào module sử dụng</h4>
    <h4>step2: khai báo formcontrol and formgroup vào file ts của component muốn sử dụng</h4>
    <h4>step3: tạo form</h4>

    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
            <label>
                email: 
                <input type="text" formControlName="email">
            </label>
            <label>
                name: 
                <input type="text" formControlName="name">
            </label>
            <label>
                numberphone: 
                <input type="number" formControlName="numberphone">
            </label>
            <button type="submit">Submit</button>
    </form>
</div>
<hr>
<div class="container">
    <h1>demo life hook</h1>
    <!-- <p>tâm đắc chưa kiểm duyệt (X) : form reactive cho phép chúng ta lưu lại các giá trị từ in pust đẩy vào file ts và dùng nó để kêu gọi phương thức post 1 cách thuận tiện thay vì phải khai báo phương thức như các freamwork khác </p>
    <h4>step1: khai báo reactiveformmodule vào module sử dụng</h4>
    <h4>step2: khai báo formcontrol and formgroup vào file ts của component muốn sử dụng</h4>
    <h4>step3: tạo form</h4> -->
        
    <!-- <input [(ngModel)]=""> -->
</div>
<p class="position-absolute bg-dark">testrouting works!</p>