<div class="row mt-5 d-none d-md-block" style="background-color:white;border-top:8px solid black;background-size: contain;">
    <div class="col-12">
        <p class="" style="font-size: 25px;font-weight: bold;margin-left: 20px;padding: 10px;">Tải app Tinh tế</p>
        <p style="font-size: 18px;margin-left: 20px;color: grey;">Tải app Tinhte - Theo dõi thông tin mà bạn yêu thích</p>
        <hr class="d-none d-lg-block">
        <img src="./assets/img/4811568_app_og.jpg" style="width: 100%;background-repeat: no-repeat;background-size: contain;padding: 10px;    ">
        <div class="d-flex justify-content-start" style="padding: 10px; ">
            <img src="./assets/img/4484790_google_vi_badge_web_generic.png" style="width: 50%;background-repeat: no-repeat;background-size: contain;">
            <img src="./assets/img/4484816_apple_vi_badge_web_generic.png" style="width: 50%;background-repeat: no-repeat;background-size: contain;">
        </div>
    </div>
</div>